@font-face {
	font-family: Circular;
	src:url("../fonts/CircularStd-Bold.otf");
}

@font-face {
	font-family: CircularItalic;
	src:url("../fonts/CircularStd-BoldItalic.otf");
}

@font-face {
	font-family: Relative;
	src:url("../fonts/Relative-10Pitch.ttf");
}

html, body {
	background-color:#fff;
	font-size: 50px;
	font-family: Helvetica;
	font-weight: bold;
}


.threeElement {
	opacity: 1;
	-webkit-transition:opacity .5s ease-in-out;
}

.touch {
	color:#FD4F57;
	opacity: 0;
	-webkit-transition:opacity .25s ease-in-out;
	font-size: 90px;
	margin: 0 auto;
	width:100%;
	height: 200px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	position: absolute;
/*	bottom: 130px;
	left: 0px;*/
}

.touchiPad {
	font-size: 150px;
	/*bottom: 120px;*/
}

#names {
	font-family: Circular;
	font-size: 30px;
	color:#FD4F57;
	opacity: 0;
	-webkit-transition:opacity .5s ease-in-out;
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	text-align:center; /* center horizontally */
    vertical-align:middle; /* center vertically */
}

.bigClock {
	opacity: 0;
	-webkit-transition:opacity .5s ease-in-out, -webkit-transform 1s ease-in-out;
	position: absolute;
	z-index: 100;
}

.name {
	color:#FD4F57;
	visibility: hidden;
	font-size: 90px;
	top:0px;
	left:0px;
	margin: 0 auto;
	width:100%;
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	position: absolute;
}

.quoteBigName {
	color:#FD4F57;
	visibility: hidden;
	font-size: 90px;
	margin: 0 auto;
	width:100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	position: absolute;
}

.quoteContainer {
	height:700px;
}

.quoteContaineriPad {
	height: 1620px;
}

.nameiPad {
	font-size: 180px;
}

.quotes {
	font-family: Circular;
	font-size: 40px;
	color:#FD4F57;
	opacity: 0;
	-webkit-transition:opacity .5s ease-in-out;
	position: absolute;
	top:0px;
	left:0px;	
	width: 100%;
	height: 100%;
    vertical-align:middle; /* center vertically */
}

.quotesiPad {
	font-family: Circular;
	font-size: 60px;
}

.italic {
	font-family: CircularItalic;
	font-style: normal;
	font-size: 40px;
}
.italiciPad {
	font-family: CircularItalic;
	font-style: normal;
	font-size: 60px;
}

.quote {
	visibility: hidden;
	/*font-size: 20px;*/
	color:#FD4F57;
	top:5%;
	left:0px;
	margin: 0 auto;
	width:100%;
	position: absolute;
	height: 700px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	overflow: hidden;	
}

.quoteiPad {
	height:1620px;
}

.quoteInner {
	width:500px;
	position: relative;
	-webkit-transition:top 2s ease-in-out;
}
.quoteInneriPad {
	width:1200px;
}

.quoteName {
	font-family: Relative;
	font-size: 20px;
	width:500px;
	font-style:"normal";
	padding-top:20px;
	position: relative;
	-webkit-transition:top 2s ease-in-out;
}

.quoteNameiPad {
	font-size: 40px;
	padding-top:30px;
	width:1200px;
}

#gridCanvas {
	background-color:#fff;
}

#sud_container {
	opacity: 1;
	-webkit-transition:opacity .5s ease-in-out;
	position: absolute;
	top:0px;
	left:0px;
	/*width: 100%;
	height:100%;*/
	z-index: 100;
}

.float {
}


#grid {}

#color {
	visibility: hidden;
	display: none;
}

#text {
	visibility: hidden;
	display: none;
}

#textField {
	padding: 20px;
	width: 600px;
	height:20px;
	font-size: 20px;
}

#button {
	height:20px;
	font-size: 20px;
}