@font-face {
	font-family: Circular;
	src:url("../fonts/CircularStd-Bold.otf");
}

@font-face {
	font-family: CircularItalic;
	src:url("../fonts/CircularStd-BoldItalic.otf");
}

@font-face {
	font-family: Relative;
	font-style:"normal";
	src:url("../fonts/Relative-10Pitch.ttf");
}

html, body {
	background-color:#fff;
	font-size: 50px;
	font-family: Helvetica;
	font-weight: bold;
}

em {
	font-family: CircularItalic;
	font-style: normal;
	font-size: 20px;
}

.touch {
	color:#FD4F57;
	opacity: 0;
	-webkit-transition:opacity .25s ease-in-out;
	font-size: 90px;
	margin: 0 auto;
	width:100%;
	height: 200px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	position: absolute;
	bottom: 170px;
	left: 0px;
}

#names {
	font-family: Circular;
	font-size: 30px;
	color:#FD4F57;
	opacity: 0;
	-webkit-transition:opacity .5s ease-in-out;
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	text-align:center; /* center horizontally */
    vertical-align:middle; /* center vertically */
}

.name {
	color:#FD4F57;
	visibility: hidden;
	font-size: 90px;
	top:0px;
	left:0px;
	margin: 0 auto;
	width:100%;
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	position: absolute;
}

#quotes {
	font-family: Circular;
	font-size: 20px;
	color:#FD4F57;
	opacity: 0;
	-webkit-transition:opacity .5s ease-in-out;
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
    vertical-align:middle; /* center vertically */
}

.quote {
	visibility: hidden;
	font-size: 20px;
	color:#FD4F57;
	top:0px;
	left:0px;
	margin: 0 auto;
	width:100%;
	position: absolute;
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.quoteInner {
	width:500px;
}

#gridCanvas {
	background-color:#fff;
}

#sud_container {
	opacity: 1;
	-webkit-transition:opacity .5s ease-in-out;
}

.float {
	position: absolute;
	top:0px;
	left:0px;
}


#grid {}

#color {
	visibility: hidden;
	display: none;
}

#text {
	visibility: hidden;
	display: none;
}

#textField {
	padding: 20px;
	width: 600px;
	height:20px;
	font-size: 20px;
}

#button {
	height:20px;
	font-size: 20px;
}